<form class="container  " id="formUser" method="POST"  enctype="multipart/form-data"  >

     
  
    <div class="col d-flex justify-content-center ">
      <div class="input-group mt-2 w-75 ">
   
      <input required
        type="text"
        class="  inputStyleForm  "
        placeholder="Name User"
        name="name"
       
      />
      </div>
    </div>
    <p class=" mt-2 inputConditions "> <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-info-circle me-2 align-middle mb-1 colorBlueLight" viewBox="0 0 16 16">
      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
      <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
    </svg>Debe tener menos de diez letras y ningun simbolo o numero</p>

    <div class="col d-flex justify-content-center ">
      <div class="input-group mt-2 w-75 ">
    
      <input required
        type="email"
        class="   inputStyleForm   "
        placeholder="Email User"
        name="email"
       
      />
      </div>
      
    </div>
    <p class="  mt-2 inputConditions"> <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-info-circle me-2 align-middle mb-1 colorBlueLight"  viewBox="0 0 16 16">
      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
      <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
    </svg>Debe ser una direccion de correo valida</p>

    <div class="col d-flex justify-content-center ">
      <div class="input-group mt-2 w-75 ">
        
          <input required 
          type="password" 
          class="  inputStyleForm " 
          placeholder="Password User" 
          name="password"
          >
          
        </div>
        
    </div>
    <p class=" mt-2 inputConditions"> <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-info-circle me-2 mb-1 align-middle colorBlueLight" viewBox="0 0 16 16">
      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
      <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
    </svg>Debe contener 8 caracteres, una mayúscula, una minúscula, un número y un carácter especial</p>
    
    <div class="col d-flex justify-content-center ">
      <div class="input-group mt-2 w-75 ">
        
          <input required 
          type="text"
          class="  inputStyleForm " 
          placeholder="Address"
          name="address"
          >
          
        </div>
        
    </div>
    <p class=" mt-2 inputConditions"> <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-info-circle me-2 mb-1 align-middle colorBlueLight" viewBox="0 0 16 16">
      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
      <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
    </svg>Debe ser una direccion valida</p>
   
    <div class="col d-flex justify-content-center ">
      <div class="input-group mt-2 w-75 ">
        
          <input required 
          type="text"
          class="  inputStyleForm " 
          name="age"
          placeholder="Age"
        >
          
        </div>
        
    </div>
    <p class=" mt-2 inputConditions"> <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-info-circle me-2 mb-1 align-middle colorBlueLight" viewBox="0 0 16 16">
      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
      <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
    </svg>Debe ser un numero no mayor a dos digitos</p>
   
    <div class="col d-flex justify-content-center ">
      <div class="input-group mt-2 w-75 ">
        
          <input required 
          type="number"
          class="  inputStyleForm " 
          name="phone"
          placeholder="Phone"
         >
          
        </div>
        
    </div>
    <p class=" mt-2 inputConditions"> <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-info-circle me-2 mb-1 align-middle colorBlueLight" viewBox="0 0 16 16">
      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
      <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
    </svg>Debe ser un numero de telefono valido junto con la caracteristica de su pais</p>
   

    <div class="col d-flex justify-content-center ">
      <div class="input-group mt-2 w-75 ">
        
          <input required 
          type="file"
          class="  inputStyleForm " 
          placeholder="Image to profile"
          name="image"
         >
          
        </div>
        
    </div>
    <p class=" mt-2 inputConditions"> <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-info-circle me-2 mb-1 align-middle colorBlueLight" viewBox="0 0 16 16">
      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
      <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
    </svg>Debe ser una imagen valida</p>
   
    <!-- checkboxs -->

    <div class="form-check  ">
      <input class="form-check-input " type="radio" name="userType" id="flexRadioDefault1"  value="administrador" >
      <label class="textLabel text-secondary text-opacity-10 " for="flexRadioDefault1">
        Accerder como administrador
      </label>
    </div>
    <div class="form-check">
      <input  class="form-check-input " type="radio" name="userType" id="flexRadioDefault2" value="cliente" checked>
      <label class="  textLabel  text-secondary text-opacity-10" for="flexRadioDefault2">
        Accerder como cliente
      </label>
    </div>
    <p class=" mt-2 inputConditions"> <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-info-circle me-2 mb-1 align-middle colorBlueLight " viewBox="0 0 16 16">
      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
      <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
    </svg>Debe seleccionar un tipo de acceso</p>
    <div class="col d-flex justify-content-center ">
      <input 
        type="submit"
        class="form-control   btn "
        placeholder="Last name"
        aria-label="Last name"
        value=" REGISTRARSE"
        id="buttonSendFormUser"
        
      />
    </div>
   
</form>