@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

:root {
  --color1: #1fb473;
  --color2: #000000;
  --color3: #202020;
  --color4: #d2d2d2;
  --bgradient1: linear-gradient(0deg, #1ccc7f, #1ccc7f);
  --bgradient2: linear-gradient(0deg, #535353, #2a2a2a, #000000, #000000);
  --bgradient3: linear-gradient(145deg, #000000, #363636);
  --bgradient4: linear-gradient(145deg, #1b1b1b7f, #363636);
  --bgradient5: linear-gradient(0deg, #0000, #1ccc7f, #1ccc7f);
  --fontFamily: "VT323", monospace;
}

#bodyFormUser {
  background: var(--bgradient2);
  background-size: 1400px 800px;
  background-repeat: no-repeat;
}
#titleUser {
  font-size: 120px;

  color: var(--color1);
  text-shadow: 2px 2px 2px #000000;

  font-family: var(--fontFamily);
  text-align: center;
  margin-top: 80px;

  letter-spacing: 50px;
  font-weight: 700;
}
#subTitleUserError {
  font-size: 30px;
  font-family: var(--fontFamily);
  text-align: center;
  margin-top: 20px;
  max-width: 880px;
  margin-left: 18%;
  letter-spacing: 9px;
  color: rgb(199, 0, 43);
  text-shadow: 2px 2px 2px #000000;

  font-weight: 700;
}
#subTitleUser {
  font-size: 40px;
  font-family: var(--fontFamily);
  text-align: center;
  margin-top: 20px;
  max-width: 1000px;
  margin-left: 15%;
  letter-spacing: 9px;
  color: var(--color1);
  text-shadow: 2px 2px 2px #000000;

  font-weight: 700;
}
.buttonSignIn {
  padding: 10px 70px;

  background-color: transparent;
  color: var(--color1);

  font-family: var(--fontFamily);
  border-radius: 40px;
  font-weight: 700;
  margin-top: 100px;
  letter-spacing: 3px;
  font-size: 20px;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px #000000;
  box-shadow: 2px 2px 2px #000000;
  border-color: transparent;
  background-color: var(--color3);
}
.buttonSignIn:hover {
  color: var(--color4);
  box-shadow: 1px 1px 1px #000000;
  text-shadow: 1px 1px 1px #000000;
  transition: 0.4s;
}
.modal-content {
  border-radius: 50px;
  background: var(--bgradient3);
  box-shadow: 5px 5px 1px #171716;
}
#flexRadioDefault1,
#flexRadioDefault2 {
  background-color: #8585858e;
}

#flexRadioDefault1:focus,
#flexRadioDefault2:focus {
  background-color: #616161;
}
#flexRadioDefault1:has,
#flexRadioDefault2:checked {
  background-color: #a1a1a1;
}

.form-check {
  text-align: center;
  margin-left: 55px;
}
.textLabel {
  font-family: monospace;
  color: var(--color4);
  margin-left: -100px;
  text-align: start;
}
.inputConditions {
  font-family: monospace;
  font-size: 11px;
  color: var(--color4);
  max-width: 330px;
  text-align: start;
  margin-left: 60px;
}
.inputStyleForm {
  color: var(--color1);
  width: 400px;
  border-radius: 10px;
  text-align: center;
  border: none;
  font-family: var(--fontFamily);
  font-weight: 500;
  text-shadow: 1px 1px 1px #000000;
  letter-spacing: 4px;
  padding: 5px;
  background-color: var(--color3);
  box-shadow: 1px 1px 2px #000000a4;
}
.inputStyleForm:focus {
  outline: unset;
}
.modal-title-login {
  font-family: var(--fontFamily);
  color: var(--color1);
  letter-spacing: 5px;
  text-shadow: 1px 1px 1px #000000;
  font-size: 40px;

  position: absolute;

  bottom: 93%;
  left: 23%;
}
.modal-title-signin {
  font-family: var(--fontFamily);
  color: var(--color1);
  letter-spacing: 5px;
  text-shadow: 1px 1px 1px #000000;
  font-size: 40px;

  position: absolute;

  bottom: 81%;
  left: 23%;
}
#buttonSendFormUser {
  color: #a3a3a3;
  font-family: var(--fontFamily);
  border-radius: 50px;
  background-image: var(--bgradient4);
  border: none;
  box-shadow: 2px 2px 0px #000000;

  font-weight: 700;
  letter-spacing: 3px;
  width: 200px;
  margin: 10px;
}
#buttonSendFormUser:hover {
  color: #ffffff;
}
#buttonCloseModal {
  color: rgb(0, 0, 0);
  background-color: transparent;
  border: none;
  margin-left: 420px;
  margin-top: -10px;
}

.navbarBody {
  border-radius: 40px;
  margin: 10px 10px;
  background: linear-gradient(145deg, #1a1a18, #1f1f1d);
  box-shadow: 5px 5px 3px #171716;
}
.navbarContainer {
  display: flex;
  margin-left: 60px;
}
.permissionsText {
  margin-left: 50px;
  color: var(--color1);
  text-shadow: 2px 2px 2px #000000;
  font-weight: 700;
  font-family: var(--fontFamily);
  letter-spacing: 5px;
  font-size: 20px;
}
.aLinkNav {
  color: var(--color1);
  text-shadow: 2px 2px 2px #000000;
  margin-right: 20px;
  font-weight: 700;
  font-family: var(--fontFamily);
  letter-spacing: 5px;
  font-size: 20px;
}
.aLinkNav:hover {
  background-image: var(--bgradient1);
  border-radius: 50px;
  color: #000000;
  text-shadow: 0px 0px 0px #00000000;
}
.spaceAdminNavBar {
  margin-left: 300px;
}

/* HOME */
#bodyHome {
  margin-bottom: -100px;
  z-index: 0;
  background-color: #0b0b0b;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 304 304' width='304' height='304'%3E%3Cpath fill='%23007b56' fill-opacity='0.31' d='M44.1 224a5 5 0 1 1 0 2H0v-2h44.1zm160 48a5 5 0 1 1 0 2H82v-2h122.1zm57.8-46a5 5 0 1 1 0-2H304v2h-42.1zm0 16a5 5 0 1 1 0-2H304v2h-42.1zm6.2-114a5 5 0 1 1 0 2h-86.2a5 5 0 1 1 0-2h86.2zm-256-48a5 5 0 1 1 0 2H0v-2h12.1zm185.8 34a5 5 0 1 1 0-2h86.2a5 5 0 1 1 0 2h-86.2zM258 12.1a5 5 0 1 1-2 0V0h2v12.1zm-64 208a5 5 0 1 1-2 0v-54.2a5 5 0 1 1 2 0v54.2zm48-198.2V80h62v2h-64V21.9a5 5 0 1 1 2 0zm16 16V64h46v2h-48V37.9a5 5 0 1 1 2 0zm-128 96V208h16v12.1a5 5 0 1 1-2 0V210h-16v-76.1a5 5 0 1 1 2 0zm-5.9-21.9a5 5 0 1 1 0 2H114v48H85.9a5 5 0 1 1 0-2H112v-48h12.1zm-6.2 130a5 5 0 1 1 0-2H176v-74.1a5 5 0 1 1 2 0V242h-60.1zm-16-64a5 5 0 1 1 0-2H114v48h10.1a5 5 0 1 1 0 2H112v-48h-10.1zM66 284.1a5 5 0 1 1-2 0V274H50v30h-2v-32h18v12.1zM236.1 176a5 5 0 1 1 0 2H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30a5 5 0 1 1 0-2H274v44.1a5 5 0 1 1-2 0V146h-10.1zm-64 96a5 5 0 1 1 0-2H208v-80h16v-14h-42.1a5 5 0 1 1 0-2H226v18h-16v80h-12.1zm86.2-210a5 5 0 1 1 0 2H272V0h2v32h10.1zM98 101.9V146H53.9a5 5 0 1 1 0-2H96v-42.1a5 5 0 1 1 2 0zM53.9 34a5 5 0 1 1 0-2H80V0h2v34H53.9zm60.1 3.9V66H82v64H69.9a5 5 0 1 1 0-2H80V64h32V37.9a5 5 0 1 1 2 0zM101.9 82a5 5 0 1 1 0-2H128V37.9a5 5 0 1 1 2 0V82h-28.1zm16-64a5 5 0 1 1 0-2H146v44.1a5 5 0 1 1-2 0V18h-26.1zm102.2 270a5 5 0 1 1 0 2H98v14h-2v-16h124.1zM242 149.9V160h16v34h-16v62h48v48h-2v-46h-48v-66h16v-30h-16v-12.1a5 5 0 1 1 2 0zM53.9 18a5 5 0 1 1 0-2H64V2H48V0h18v18H53.9zm112 32a5 5 0 1 1 0-2H192V0h50v2h-48v48h-28.1zm-48-48a5 5 0 0 1-9.8-2h2.07a3 3 0 1 0 5.66 0H178v34h-18V21.9a5 5 0 1 1 2 0V32h14V2h-58.1zm0 96a5 5 0 1 1 0-2H137l32-32h39V21.9a5 5 0 1 1 2 0V66h-40.17l-32 32H117.9zm28.1 90.1a5 5 0 1 1-2 0v-76.51L175.59 80H224V21.9a5 5 0 1 1 2 0V82h-49.59L146 112.41v75.69zm16 32a5 5 0 1 1-2 0v-99.51L184.59 96H300.1a5 5 0 0 1 3.9-3.9v2.07a3 3 0 0 0 0 5.66v2.07a5 5 0 0 1-3.9-3.9H185.41L162 121.41v98.69zm-144-64a5 5 0 1 1-2 0v-3.51l48-48V48h32V0h2v50H66v55.41l-48 48v2.69zM50 53.9v43.51l-48 48V208h26.1a5 5 0 1 1 0 2H0v-65.41l48-48V53.9a5 5 0 1 1 2 0zm-16 16V89.41l-34 34v-2.82l32-32V69.9a5 5 0 1 1 2 0zM12.1 32a5 5 0 1 1 0 2H9.41L0 43.41V40.6L8.59 32h3.51zm265.8 18a5 5 0 1 1 0-2h18.69l7.41-7.41v2.82L297.41 50H277.9zm-16 160a5 5 0 1 1 0-2H288v-71.41l16-16v2.82l-14 14V210h-28.1zm-208 32a5 5 0 1 1 0-2H64v-22.59L40.59 194H21.9a5 5 0 1 1 0-2H41.41L66 216.59V242H53.9zm150.2 14a5 5 0 1 1 0 2H96v-56.6L56.6 162H37.9a5 5 0 1 1 0-2h19.5L98 200.6V256h106.1zm-150.2 2a5 5 0 1 1 0-2H80v-46.59L48.59 178H21.9a5 5 0 1 1 0-2H49.41L82 208.59V258H53.9zM34 39.8v1.61L9.41 66H0v-2h8.59L32 40.59V0h2v39.8zM2 300.1a5 5 0 0 1 3.9 3.9H3.83A3 3 0 0 0 0 302.17V256h18v48h-2v-46H2v42.1zM34 241v63h-2v-62H0v-2h34v1zM17 18H0v-2h16V0h2v18h-1zm273-2h14v2h-16V0h2v16zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1A5.02 5.02 0 0 1 6 97a5 5 0 0 1-6 4.9v-2.07a3 3 0 1 0 0-5.66V92.1zM80 272h2v32h-2v-32zm37.9 32h-2.07a3 3 0 0 0-5.66 0h-2.07a5 5 0 0 1 9.8 0zM5.9 0A5.02 5.02 0 0 1 0 5.9V3.83A3 3 0 0 0 3.83 0H5.9zm294.2 0h2.07A3 3 0 0 0 304 3.83V5.9a5 5 0 0 1-3.9-5.9zm3.9 300.1v2.07a3 3 0 0 0-1.83 1.83h-2.07a5 5 0 0 1 3.9-3.9zM97 100a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-48 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 96a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-144a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM49 36a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM33 68a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 240a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm80-176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm112 176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 180a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 84a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'%3E%3C/path%3E%3C/svg%3E");
}
#subTitleHome {
  font-size: 40px;
  font-family: var(--fontFamily);
  text-align: center;
  margin-top: 20px;
  max-width: 800px;
  margin-left: 20%;
  letter-spacing: 9px;
  color: var(--color1);
  text-shadow: 2px 2px 2px #000000;

  font-weight: 700;
}
/* LOGOUT */
.modal-logout {
  background-color: #0000007c;
}
.modal-content-logout {
  position: absolute;
  width: 600px;
  margin-top: 140px;
  top: 100%;
  left: -10%;

  border-radius: 50px;
  background: linear-gradient(145deg, #1a1a18, #1f1f1d);
  box-shadow: 5px 5px 1px #171716;
}

/* errors */

.bodyError {
  margin-top: 20px;
  background: var(--bgradient2);
  background-size: 1400px 800px;
  background-repeat: no-repeat;
}
.titleError {
  font-size: 70px;

  color: rgb(199, 0, 43);
  text-shadow: 2px 2px 2px #000000;

  font-family: var(--fontFamily);
  text-align: center;
  margin-top: 120px;

  letter-spacing: 40px;
  font-weight: 700;
}
.containerButtonError {
  position: absolute;
  top: 30%;
  left: 37%;
}

.buttonError {
  padding: 10px 70px;

  color: var(--color1);
  font-family: var(--fontFamily);
  border-radius: 40px;
  font-weight: 700;
  margin-top: 100px;
  letter-spacing: 3px;
  font-size: 20px;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px #000000;
  box-shadow: 2px 2px 2px #000000;
  border-color: transparent;
  background-color: var(--color3);
}

.buttonError:hover {
  color: #ffffff;
  box-shadow: 1px 1px 1px #000000;
  text-shadow: 1px 1px 1px #000000;
  transition: 0.4s;
}
.buttonError a {
  text-decoration: none;
  color: var(--color1);
}
.buttonError a:hover {
  text-shadow: 1px 1px 1px #000000;
  color: #ffffff;
  transition: 0.2s;
}

/* redirects */

.buttonGoToHome {
  position: absolute;
  top: 50%;
  left: 25%;
}
.buttonGoToLogIn {
  position: absolute;
  top: 50%;
  left: 54%;
}

/* utils */

.containerAlertLogout {
  z-index: 1;
  position: absolute;
  top: 10%;
  left: 10%;
}
.containerAlertLogout div {
  box-shadow: 10px 13px 13px #000000;
  padding: 20px;
  background: linear-gradient(145deg, #1a1a18, #1f1f1d);
  color: var(--color1);
  border-radius: 20px;
  border: none;

  font-size: 60px;
  font-family: var(--fontFamily);
  text-align: center;

  letter-spacing: 9px;
  color: var(--color1);
  text-shadow: 2px 2px 2px #000000;

  font-weight: 700;
}

.controlBlur {
  filter: grayscale(60);

  transition: 0.3s;
}

.buttonStyle {
  padding: 10px 70px;
  background-color: transparent;
  color: var(--color1);
  font-family: var(--fontFamily);
  border-radius: 40px;
  font-weight: 700;
  margin-top: 100px;
  letter-spacing: 3px;
  font-size: 20px;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px #000000;
  box-shadow: 2px 2px 2px #000000;
  border-color: transparent;
  background-color: var(--color3);
}

.buttonStyle:hover {
  color: #ffffff;
  box-shadow: 1px 1px 1px #000000;
  text-shadow: 1px 1px 1px #000000;
  transition: 4s;
}
.buttonStyle a {
  color: var(--color1);
  text-decoration: none;
}

.buttonStyle a:hover {
  text-shadow: 1px 1px 1px #000000;
  color: #2cf8ba;
}

/* productos shop cliente */
#titleShopClient {
  font-size: 90px;
  background-image: var(--bgradient5);
  -webkit-background-clip: text;
  color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-bottom: 2px;
  letter-spacing: 50px;
  font-weight: 700;
  font-family: var(--fontFamily);
}
.hrShop {
  background-color: #000000;
}
.cardProduct {
  border-radius: 50px;
  background: linear-gradient(145deg, #1a1a18, #1f1f1d);
  box-shadow: 5px 5px 1px #171716;
  max-width: 1000px;
  font-family: var(--fontFamily);
}
.cardImage {
  margin: auto;
  margin-top: 10px;
  border-radius: 10px;
}
.card-title {
  background: #0d0d0d;
  box-shadow: 3px 3px 3px #171716;
  text-align: center;
  border-radius: 10px;
  font-weight: 700;
  padding: 5px;
  padding-bottom: 5px;
}

.card-title:hover {
  background: var(--color1);
  color: rgb(10, 10, 10);
  transition: 0.3s;
}
.aLinkToProduct {
  color: var(--color1);
  text-decoration: none;
}

.cardDescrption {
  color: #6aa493;
  background: #0d0d0d;
  box-shadow: 3px 3px 3px #171716;
  font-weight: 700;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  max-width: 200px;
  padding-bottom: 10px;
}
.contentPriceAndCode {
  display: flex;
  justify-content: baseline;
  font-size: 12px;
}
.cardPrice {
  color: chartreuse;
  background: #0d0d0d;
  box-shadow: 3px 3px 3px #171716;
  font-weight: 700;
  text-align: center;
  border-radius: 10px;
  padding: 5px 21px;
  padding-bottom: 5px;
}
.cardCode {
  color: blueviolet;
  margin-left: 20px;
  background: #0d0d0d;
  box-shadow: 3px 3px 3px #171716;
  font-weight: 700;
  text-align: center;
  border-radius: 10px;
  padding: 5px 19px;
  padding-bottom: 5px;
}
.buttonAddToCart {
  text-decoration: none;
  color: #000000;

  border-radius: 10px;
  background-image: var(--bgradient1);
  border: none;
  box-shadow: 2px 2px 0px #000000;

  font-weight: 700;
  letter-spacing: 3px;
  margin-left: 36px;
  padding: 5px 10px;
  padding-bottom: 7px;
}
.buttonAddToCart:hover {
  color: #ffffff;
  transition: 0.3s;
}

/* form update */

#bodyFormUpdateProduct {
  background: var(--bgradient2);
}
#titleFormUpdate {
  color: var(--color1);
}
.inputConditionsProducts {
  font-size: 11px;
  color: rgba(170, 170, 170, 0.84);
  max-width: 530px;
  text-align: start;
  margin-left: 230px;
}
/* form produtc add */

#bodyFormAddProduct {
  background: var(--bgradient2);
  background-attachment: fixed;
  background-size: cover;
}

.exitIconForm {
  color: var(--color1);
  position: absolute;
  top: 2.2%;
  left: 94.3%;
  box-shadow: 2px 2px 2px #000000;
  font-size: 20px;
  padding: 5px 10px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 900;
  text-shadow: 1px 1px #000000;
}
.exitIconForm:hover {
  color: #ffffff;
  box-shadow: 1px 1px 1px #000000;

  transition: 0.3s;
}

.formAddProduct {
  border-radius: 30px;
  background: linear-gradient(145deg, #1a1a18, #1f1f1d);
  box-shadow: 5px 5px 1px #171716;
  width: 900px;
  height: 560px;
  position: absolute;
  top: 5%;
  left: 16%;
}
.inputStyleForm {
  color: var(--color1);
  width: 800px;
  border-radius: 10px;
  text-align: center;
  border: none;
  padding: 5px;
}
.inputStyleForm:focus {
  outline: unset;
}
.titleFormAddProduct {
  color: var(--color1);
  letter-spacing: 5px;
  text-shadow: 1px 1px 1px var(--color1);
  text-align: center;
  margin-top: 10px;
}

#buttonSendFormAddProduct {
  color: #000000;

  border-radius: 50px;
  background-image: var(--bgradient5);
  border: none;
  box-shadow: 2px 2px 0px --color1;

  font-weight: 700;
  letter-spacing: 3px;
  width: 300px;
  height: 30px;
}
#buttonSendFormAddProduct:hover {
  color: aliceblue;
  box-shadow: 2px 2px 2px #000000;
  transition: 0.3s;
}
.selectFile {
  visibility: hidden;
}
.buttonUploadFile {
  width: 200px;
  border-radius: 10px;
  margin-left: 120px;

  margin-top: 5px;
  border: none;
  margin-bottom: -30px;
}
.buttonUploadFile p {
  color: var(--color1);
  letter-spacing: 5px;
  text-shadow: 1px 1px 1px var(--color1);
  text-align: center;
  background-color: #171716;
  box-shadow: 5px 5px 1px #171716;

  border-radius: 10px;
  padding: 5px 10px;
}
.buttonUploadFile p:hover {
  color: #ffffff;
  transition: 0.3s;

  text-shadow: 1px 1px 1px #ffffff;

  background-color: #171716;
}

/* producto admin */

.totalPrice {
  color: var(--color1);
  background: var(--color3);
  width: 100px;
  font-size: 20px;
  text-decoration: none;
  font-weight: 700;
  padding-top: 7px;
}
.totalPrice:hover {
  background-color: var(--color3);
  color: var(--color1);
}

.buttonsCart {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.buyAll {
  border-radius: 10px;
  background-color: var(--color1);
  color: var(--color3);
  box-shadow: 3px 3px 3px #171716;
  font-weight: 700;
  width: 300px;
  text-decoration: none;
  padding-top: 10px;
  font-size: 15px;
  letter-spacing: 4px;
}
.buyAll:hover {
  background-color: var(--color3);
  color: var(--color1);
  box-shadow: 3px 3px 3px #000000;
  transition: 0.3s;
}

.deleteAll {
  border-radius: 10px;
  background-color: var(--color3);
  color: var(--color1);
  box-shadow: 3px 3px 3px #171716;
  font-weight: 700;
  width: 300px;

  text-decoration: none;
  padding-top: 10px;
  font-size: 15px;
  letter-spacing: 4px;
}
.deleteAll:hover {
  background-color: var(--color1);
  color: var(--color2);
  box-shadow: 3px 3px 3px #000000;
  transition: 0.3s;
}
.deleteAdmin {
  border-radius: 10px;
  background-color: #f52525;
  box-shadow: 3px 3px 3px #171716;
  font-weight: 700;
  width: 150px;
  margin-top: 10px;
}
.deleteAdmin:hover {
  background-color: #f41111;
  box-shadow: 3px 3px 3px #000000;
  transition: 0.3s;
}
.updateAdmin {
  border-radius: 10px;
  background-color: teal;
  text-decoration: none;
  box-shadow: 3px 3px 3px #171716;
  font-weight: 700;
  margin-top: 10px;
}
.updateAdmin:hover {
  background-color: rgb(0, 172, 172);
  text-decoration: none;
  box-shadow: 3px 3px 3px #000000;
  transition: 0.3s;
}
.iconAdmin {
  color: rgb(255, 255, 255);
}
.iconAdmin:hover {
  color: #000000;
  transition: 0.3s;
}

/* Account */


.profile{
 display: flex;
 justify-content: center;

 flex-direction: column;
color: var(--color1);
background: linear-gradient(0deg, #1a1a18b6, #1f1f1d);
box-shadow: 5px 5px 3px #171716;
padding: 10px ;
padding-right: 100px;
padding-left: 30px;
border-radius: 50px;


}
.labelProfile{


display: grid;
place-items: center;

}
.text{
  font-size: 25px;
  letter-spacing: 3px;
  padding: 3px;
  text-align: start;
  text-shadow: 2px 2px 2px #000000;
  font-family: var(--fontFamily);
}
.img{
  margin-left: 80%;
}


.containEmptyProducts{
  display: grid;
 margin-top: 10%;
  place-content: center;
  
}

.emptyProducts{
  color: var(--color1);
}